.cart_div {
    padding: 140px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cart_div_center {
    display: flex;
    width: 30%;
    justify-content: center;
}
.cart_center_div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.cart_image_div {
    display: flex;
    width: 100%;
    align-items: center;
}
.cart_image {
    width: 20%;
    position: relative;
    left: 1em;
}
.cart_big_div {
    width: 85%;
    display: flex;
    position: relative;
    top: 10px;
    border: 3px solid rgba(147, 147, 147, 0.5);
    border-radius: 15px;
}
.cart_center_p{
    display: flex;
    flex-direction: column;
}
.cart_center_title {
    font-size: 21px;
    padding-left: 15px;
    width: 100%;
    font-weight: 200;
}
.cart_center_desc{
    padding-top: 1em;
    font-size: 15px;
    font-weight: 200;
}
.error{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error_p{
    font-size: 100px;
    color: rgba(0, 0, 0, 0.178);
}
@media screen and (max-width: 650px) and (min-width: 301px) {
    .cart_center_desc{
        display: none;
    }
    .cart_image_div {
        display: flex;
        flex-direction: column;
    }   
    .cart_center_title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
    }
    .cart_big_div{
        width: 70%;
    }
    .cart_image{
        width: 80%;
        position: relative;
        left: 0;
    }
}
@media screen and (max-width: 300px){
    .cart_center_desc{
        display: none;
    }
    .cart_image_div {
        display: flex;
        flex-direction: column;
    }   
    .cart_center_title {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 0;
    }
    .cart_big_div{
        width: 70%;
    }
    .cart_image{
        width: 80%;
    }
}